html, body {
    padding: 0;
    margin: 0;
    background-color: rgba(2, 0, 19, 0.695);
    font-family: 'font';
    overflow-x: hidden;
}
@font-face {
    font-family: 'font';
    src: url('Quicksand-Bold.otf');
}



@media screen and (min-width: 300px) {

    .navbar {
        box-shadow: 1px 1px 10px 1px aqua;
        height: 5rem;
    }

    .navbar .box2 {
        color: aqua;
        margin-left: 3.5rem;
        margin-top: -3.7rem;
    }
    .navbar .box1 img:hover {
        background-color: aqua;
        border-radius: 20px;
        cursor: pointer;
    }

    .navbar .box1 img {
        width: 2rem;
        margin-left: 10px;
        margin-top: 20px;
    }
    .menu .menu-itens a {
        text-decoration: none;
        color: aqua;
        font-size: 40px;
        text-align: center;
        margin-top: 2rem;
        transition: 1s;
    }
    .menu .menu-itens a:hover {
        font-size: 50px;
        transition: 1s;
    }
    .menu .menu-itens img {
        width: 60px;
        margin-top: 4rem;
        margin-left: 4rem;
        border-radius: 40px;
        transition: 1s;
    }

    .menu .menu-itens img:hover {
        transform: translateY(-10px);
        transition: 1s;
    }


    .menu .menu-itens {
        background-color: rgba(2, 0, 19, 0.948);
        margin-top: 5.5rem;
        box-shadow: 1px 1px 10px 1px aqua;
        border-radius: 20px;
        margin-left: -20px;
        position: absolute;
        width: 20rem;
        z-index: 1;
    }

    .s1 {
        position: absolute;
    }

    .s1 .left {
        margin-top: 20rem;
    }

    .s1 .left .p1 {
        color: white;
        margin-top: -4.5rem;
        width: 10rem;
        margin-left: 4.5rem;
        font-size: 20pt;
        position: absolute;
        
    }

    .s1 .left h1 {
        position: absolute;
        color: aqua;
        width: 20rem;
        margin-top: -3rem;
        margin-left: 0.2rem;
        font-size: 22pt;
    }

    
    .s1 .left .p2 {
        position: absolute;
        color: white;
        width: 20rem;
        margin-top: -1rem;
        margin-left: 1.5rem;
        font-size: 14pt;
    }

    .s1 .right{
        margin-top:-20rem;
        margin-left: 4rem;
    }

    .s1 .right img {
        width: 10rem;
        border-radius: 40px;
        box-shadow: 1px 1px 10px 1px aqua;
        position: absolute;
        margin-top: 4rem;
    }

    .s1 .boxes #a1 {
        margin-top: 8rem;
        position: absolute;
        margin-left: 3.5rem;
        font-size: 20px;
        width: 10rem;
        height: 2.5rem;
        padding-top: 10px;
        padding-left: 20px;
        border-radius: 20px;
        color: black;
        border: 1px solid white;
        transition: 1s;
        color: aqua;
    }

    .s1 .boxes #a2 {
        margin-top: 3rem;
        position: absolute;
        margin-left: 3.5rem;
        font-size: 25px;
        width: 10rem;
        height: 2.5rem;
        padding-top: 5px;
        padding-left: 20px;
        border-radius: 20px;
        color: black;
        background-color: aqua;
        transition: 1s;
    }

    .s1 .boxes a {
        text-decoration: none;
        display: flex;
        margin-left: 6rem;
    }

    .s1 .boxes a:hover {transform: translateY(-10px); transition: 1s;}

    .sobre {
        margin-top: 50rem;
        text-align: center;
    }

    .sobre h1 {
        color: aqua;
    }

    .sobre p {
        color: white;
        text-align: center;

    }
    .sobre .box1:hover, .box2:hover, .box3:hover {
        transform: translateY(-10px);
        transition: 1s;
        cursor: pointer;
    }
    .sobre .box1 img {
        width: 5rem;
    }

    .sobre .box1 {
        background-color: black;
        transition: 1s;
        width: 5rem;
        margin-left: 95px;
        border-radius: 20px 20px 0px 0px;
        border-bottom: 2px solid aqua;
        position: absolute;
        margin-top: 12.5rem;

    }

    .sobre .box2 img {
        width: 5rem;
    }

    .sobre .box2 {
        background-color: black;
        transition: 1s;
        width: 5rem;
        margin-left: 5px;
        border-radius: 20px 20px 0px 0px;
        border-bottom: 2px solid aqua;
        margin-top: 5rem;
        margin-left: 6rem;
    }

    .sobre .box3 img {
        width: 5rem;
    }

    .sobre .box3 {
        background-color: black;
        transition: 1s;
        width: 5rem;
        margin-left: 5px;
        border-radius: 20px 20px 0px 0px;
        border-bottom: 2px solid aqua;
        margin-top: 12rem;
        margin-left: 6rem;
    }

    .projetos {
        margin-top: 20rem;
    margin-bottom: 10rem;

    }

    .projetos h1 {
        color: aqua;
        text-align: center;
        font-size: 30px;
    }

    .projetos .box1 img {
        width: 8rem;
        border-radius: 20%;
        transition: 1s;

    }

    .projetos .box1 img:hover {
        transform: translateY(-10px);
        transition: 1s;
    }

    
    .projetos .box2 img {
        width: 8rem;
        border-radius: 20%;
        margin-left: 9.5rem;
        margin-top: -4rem;
        transition: 1s;
        position: absolute;
    }
   
}


@media screen and (min-width: 350px) {

    .navbar {
        box-shadow: 1px 1px 10px 1px aqua;
        height: 5rem;
    }

    .navbar .box2 {
        color: aqua;
        margin-left: 6.5rem;
        margin-top: -4.7rem;
    }
    .navbar .box1 img:hover {
        background-color: aqua;
        border-radius: 20px;
        cursor: pointer;
    }

    .navbar .box1 img {
        width: 4rem;
        margin-left: 10px;
        margin-top: 5px;
    }
    .menu .menu-itens a {
        text-decoration: none;
        color: aqua;
        font-size: 40px;
        text-align: center;
        margin-top: 2rem;
        transition: 1s;
    }
    .menu .menu-itens a:hover {
        font-size: 50px;
        transition: 1s;
    }
    .menu .menu-itens img {
        width: 60px;
        margin-top: 4rem;
        margin-left: 4rem;
        border-radius: 40px;
        transition: 1s;
    }

    .menu .menu-itens img:hover {
        transform: translateY(-10px);
        transition: 1s;
    }


    .menu .menu-itens {
        background-color: rgba(2, 0, 19, 0.948);
        margin-top: 5.5rem;
        box-shadow: 1px 1px 10px 1px aqua;
        border-radius: 20px;
        margin-left: -20px;
        position: absolute;
        width: 20rem;
        z-index: 1;
        display: none;
    }

    .s1 {
        position: absolute;
        margin-left: 3rem;
    }

    .s1 .left {
        margin-top: 20rem;
    }

    .s1 .left .p1 {
        color: white;
        margin-top: -4.5rem;
        width: 10rem;
        margin-left: 4.5rem;
        font-size: 20pt;
        position: absolute;
        
    }

    .s1 .left h1 {
        position: absolute;
        color: aqua;
        width: 20rem;
        margin-top: -3rem;
        margin-left: 0.2rem;
        font-size: 22pt;
    }

    
    .s1 .left .p2 {
        position: absolute;
        color: white;
        width: 20rem;
        margin-top: -1rem;
        margin-left: 1.5rem;
        font-size: 14pt;
    }

    .s1 .right{
        margin-top:-20rem;
        margin-left: 4rem;
    }

    .s1 .right img {
        width: 10rem;
        border-radius: 40px;
        box-shadow: 1px 1px 10px 1px aqua;
        position: absolute;
        margin-top: 4rem;
    }

    .s1 .boxes #a1 {
        margin-top: 8rem;
        position: absolute;
        margin-left: 3.5rem;
        font-size: 20px;
        width: 10rem;
        height: 2.5rem;
        padding-top: 10px;
        padding-left: 20px;
        border-radius: 20px;
        color: black;
        border: 1px solid white;
        transition: 1s;
        color: aqua;
    }

    .s1 .boxes #a2 {
        margin-top: 3rem;
        position: absolute;
        margin-left: 3.5rem;
        font-size: 25px;
        width: 10rem;
        height: 2.5rem;
        padding-top: 5px;
        padding-left: 20px;
        border-radius: 20px;
        color: black;
        background-color: aqua;
        transition: 1s;
    }

    .s1 .boxes a {
        text-decoration: none;
        display: flex;
        margin-left: 6rem;
    }

    .s1 .boxes a:hover {transform: translateY(-10px); transition: 1s;}

    .sobre {
        margin-top: 50rem;
        text-align: center;
    }

    .sobre h1 {
        color: aqua;
    }

    .sobre p {
        color: white;
        text-align: center;

    }
    .sobre .box1:hover, .box2:hover, .box3:hover {
        transform: translateY(-10px);
        transition: 1s;
        cursor: pointer;
    }
    .sobre .box1 img {
        width: 8rem;
    }

    .sobre .box1 {
        background-color: black;
        transition: 1s;
        width: 8rem;
        margin-left: 8rem;
        border-radius: 20px 20px 0px 0px;
        border-bottom: 2px solid aqua;
        position: absolute;
        margin-top: 14rem;

    }

    .sobre .box2 img {
        width: 8rem;
    }

    .sobre .box2 {
        background-color: black;
        transition: 1s;
        width: 8rem;
        border-radius: 20px 20px 0px 0px;
        border-bottom: 2px solid aqua;
        margin-top: 5rem;
        margin-left: 8rem;
    }

    .sobre .box3 img {
        width: 8rem;
    }

    .sobre .box3 {
        background-color: black;
        transition: 1s;
        width: 8rem;
        margin-left: 5px;
        border-radius: 20px 20px 0px 0px;
        border-bottom: 2px solid aqua;
        margin-top: 12rem;
        margin-left: 8rem;
    }

    .projetos {
        margin-top: 20rem;
    margin-bottom: 10rem;
    }

    .projetos h1 {
        color: aqua;
        text-align: center;
        font-size: 30px;
    }

    .projetos .box1 img {
        width: 10rem;
        border-radius: 20%;
        transition: 1s;
        margin-left: 1rem;

    }

    .projetos .box1 img:hover {
        transform: translateY(-10px);
        transition: 1s;
    }

    
    .projetos .box2 img {
        width: 10rem;
        border-radius: 20%;
        margin-left: 12rem;
        margin-top: -5rem;
        transition: 1s;
        position: absolute;
    }
   
}


@media screen and (min-width: 400px) {

    .navbar {
        box-shadow: 1px 1px 10px 1px aqua;
        height: 5rem;
    }

    .navbar .box2 {
        color: aqua;
        margin-left: 9rem;
        margin-top: -4.5rem;
        font-size: 10pt;
    }
    .navbar .box1 img:hover {
        background-color: aqua;
        border-radius: 20px;
        cursor: pointer;
    }

    .navbar .box1 img {
        width: 4rem;
        margin-left: 10px;
        margin-top: 10px;
    }
    .menu .menu-itens a {
        text-decoration: none;
        color: aqua;
        font-size: 40px;
        text-align: center;
        margin-top: 2rem;
        transition: 1s;
    }
    .menu .menu-itens a:hover {
        font-size: 50px;
        transition: 1s;
    }
    .menu .menu-itens img {
        width: 60px;
        margin-top: 4rem;
        margin-left: 4rem;
        border-radius: 40px;
        transition: 1s;
    }

    .menu .menu-itens img:hover {
        transform: translateY(-10px);
        transition: 1s;
    }


    .menu .menu-itens {
        background-color: rgba(2, 0, 19, 0.948);
        margin-top: 5.5rem;
        box-shadow: 1px 1px 10px 1px aqua;
        border-radius: 20px;
        margin-left: -20px;
        position: absolute;
        width: 20rem;
        z-index: 1;
        display: none;
    }

    .s1 {
        position: absolute;
        margin-left: 5rem;
    }

    .s1 .left {
        margin-top: 20rem;
        margin-left: 1rem;
    }

    .s1 .left .p1 {
        color: white;
        margin-top: -5rem;
        width: 15rem;
        margin-left: 2rem;
        font-size: 25pt;
        position: absolute;
        
    }

    .s1 .left h1 {
        position: absolute;
        color: aqua;
        width: 25rem;
        margin-top: -3rem;
        margin-left: -3rem;
        font-size: 28pt;
    }

    
    .s1 .left .p2 {
        position: absolute;
        color: white;
        width: 20rem;
        margin-top: 0.1rem;
        margin-left: 1px;
        font-size: 15pt;
    }

    .s1 .right{
        margin-top:-20rem;
        margin-left: 4rem;
    }

    .s1 .right img {
        width: 10rem;
        border-radius: 40px;
        box-shadow: 1px 1px 10px 1px aqua;
        position: absolute;
        margin-top: 4rem;
    }

    .s1 .boxes #a1 {
        margin-top: 7rem;
        position: absolute;
        margin-left: -1rem;
        font-size: 20px;
        width: 13rem;
        height: 2.5rem;
        padding-top: 12px;
        padding-left: 70px;
        border-radius: 20px;
        color: black;
        border: 1px solid white;
        transition: 1s;
        color: aqua;
    }

    .s1 .boxes #a2 {
        margin-top: 3rem;
        position: absolute;
        margin-left: -1rem;
        font-size: 25px;
        width: 13rem;
        height: 2.5rem;
        padding-top: 5px;
        padding-left: 70px;
        border-radius: 20px;
        color: black;
        background-color: aqua;
        transition: 1s;
    }

    .s1 .boxes a {
        text-decoration: none;
        display: flex;
        margin-left: 6rem;
    }

    .s1 .boxes a:hover {transform: translateY(-10px); transition: 1s;}

    .sobre {
        margin-top: 50rem;
        text-align: center;
    }

    .sobre h1 {
        font-size: 40px;
        color: aqua;
    }

    .sobre p {
        color: white;
        font-size: 20px;
        text-align: center;

    }
    .sobre .box1:hover, .box2:hover, .box3:hover {
        transform: translateY(-10px);
        transition: 1s;
        cursor: pointer;
    }
    .sobre .box1 img {
        width: 10rem;
    }

    .sobre .box1 {
        background-color: black;
        transition: 1s;
        width: 10rem;
        margin-left: 8rem;
        border-radius: 20px 20px 0px 0px;
        border-bottom: 2px solid aqua;
        position: absolute;
        margin-top: 14rem;

    }

    .sobre .box2 img {
        width: 10rem;
    }

    .sobre .box2 {
        background-color: black;
        transition: 1s;
        width: 10rem;
        border-radius: 20px 20px 0px 0px;
        border-bottom: 2px solid aqua;
        margin-top: 2rem;
        margin-left: 8rem;
    }

    .sobre .box3 img {
        width: 10rem;
    }

    .sobre .box3 {
        background-color: black;
        transition: 1s;
        width: 10rem;
        margin-left: 5px;
        border-radius: 20px 20px 0px 0px;
        border-bottom: 2px solid aqua;
        margin-top: 15.5rem;
        margin-left: 8rem;
    }

    .projetos {
        margin-top: 20rem;
    margin-bottom: 10rem;

    }

    .projetos h1 {
        color: aqua;
        text-align: center;
        font-size: 35px;
    }

    .projetos .box1 img {
        width: 12rem;
        border-radius: 20%;
        transition: 1s;
        margin-left: 1rem;

    }

    .projetos .box1 img:hover {
        transform: translateY(-10px);
        transition: 1s;
    }

    
    .projetos .box2 img {
        width: 12rem;
        border-radius: 20%;
        margin-left: 14rem;
        margin-top: -6rem;
        transition: 1s;
        position: absolute;
    }
   
}

@media screen and (min-width: 500px) {

    .navbar {
        box-shadow: 1px 1px 10px 1px aqua;
        height: 5rem;
    }

    .navbar .box2 {
        color: aqua;
        margin-left: 10rem;
        margin-top: -4.5rem;
        font-size: 12pt;
    }
    .navbar .box1 img:hover {
        background-color: aqua;
        border-radius: 20px;
        cursor: pointer;
    }

    .navbar .box1 img {
        width: 4rem;
        margin-left: 10px;
        margin-top: 10px;
    }
    .menu .menu-itens a {
        text-decoration: none;
        color: aqua;
        font-size: 40px;
        text-align: center;
        margin-top: 2rem;
        transition: 1s;
    }
    .menu .menu-itens a:hover {
        font-size: 50px;
        transition: 1s;
    }
    .menu .menu-itens img {
        width: 60px;
        margin-top: 4rem;
        margin-left: 4rem;
        border-radius: 40px;
        transition: 1s;
    }

    .menu .menu-itens img:hover {
        transform: translateY(-10px);
        transition: 1s;
    }


    .menu .menu-itens {
        background-color: rgba(2, 0, 19, 0.948);
        margin-top: 5.5rem;
        box-shadow: 1px 1px 10px 1px aqua;
        border-radius: 20px;
        margin-left: -20px;
        position: absolute;
        width: 20rem;
        z-index: 1;
        display: none;
    }

    .s1 {
        position: absolute;
        margin-left: 7rem;
    }

    .s1 .left {
        margin-top: 20rem;
    }

    .s1 .left .p1 {
        color: white;
        margin-top: -4.5rem;
        width: 15rem;
        margin-left: 3rem;
        font-size: 25pt;
        position: absolute;
        
    }

    .s1 .left h1 {
        position: absolute;
        color: aqua;
        width: 25rem;
        margin-top: -3rem;
        margin-left: -4rem;
        font-size: 32pt;
    }

    
    .s1 .left .p2 {
        position: absolute;
        color: white;
        width: 20rem;
        margin-top: -0.5rem;
        margin-left: 1.5rem;
        font-size: 14pt;
    }

    .s1 .right{
        margin-top:-20rem;
        margin-left: 4rem;
    }

    .s1 .right img {
        width: 12rem;
        border-radius: 40px;
        box-shadow: 1px 1px 10px 1px aqua;
        position: absolute;
        margin-top: 3rem;
        margin-left: -1.3rem;
    }


    .s1 .boxes #a1 {
        margin-top: 3rem;
        position: absolute;
        margin-left: -5rem;
        font-size: 20px;
        width: 10rem;
        height: 2.5rem;
        padding-top: -10px;
        padding-left: 20px;
        border-radius: 20px;
        color: black;
        border: 1px solid white;
        transition: 1s;
        color: aqua;
    }

    .s1 .boxes #a2 {
        margin-top: 3rem;
        position: absolute;
        margin-left: 10rem;
        font-size: 25px;
        width: 10rem;
        height: 2.5rem;
        padding-top: 10px;
        padding-left: 20px;
        border-radius: 20px;
        color: black;
        background-color: aqua;
        transition: 1s;
    }

    .s1 .boxes a {
        text-decoration: none;
        display: flex;
        margin-left: 6rem;
    }

    .s1 .boxes a:hover {transform: translateY(-10px); transition: 1s;}

    .sobre {
        margin-top: 50rem;
        text-align: center;
    }

    .sobre h1 {
        color: aqua;
        font-size: 40px;
    }

    .sobre p {
        color: white;
        font-size: 20px;
        text-align: center;

    }
    .sobre .box1:hover, .box2:hover, .box3:hover {
        transform: translateY(-10px);
        transition: 1s;
        cursor: pointer;
    }
    .sobre .box1 img {
        width: 10rem;
    }

    .sobre .box1 {
        background-color: black;
        transition: 1s;
        width: 10rem;
        margin-left: 10rem;
        border-radius: 20px 20px 0px 0px;
        border-bottom: 2px solid aqua;
        position: absolute;
        margin-top: 14rem;

    }

    .sobre .box2 img {
        width: 10rem;
    }

    .sobre .box2 {
        background-color: black;
        transition: 1s;
        width: 10rem;
        border-radius: 20px 20px 0px 0px;
        border-bottom: 2px solid aqua;
        margin-top: 2rem;
        margin-left: 10rem;
    }

    .sobre .box3 img {
        width: 10rem;
    }

    .sobre .box3 {
        background-color: black;
        transition: 1s;
        width: 10rem;
        margin-left: 5px;
        border-radius: 20px 20px 0px 0px;
        border-bottom: 2px solid aqua;
        margin-top: 15.5rem;
        margin-left: 10rem;
    }

    .projetos {
        margin-top: 20rem;
    margin-bottom: 10rem;

    }

    .projetos h1 {
        color: aqua;
        text-align: center;
        font-size: 35px;
    }

    .projetos .box1 img {
        width: 10rem;
        border-radius: 20%;
        transition: 1s;
        margin-left: 3rem;

    }

    .projetos .box1 img:hover {
        transform: translateY(-10px);
        transition: 1s;
    }

    
    .projetos .box2 img {
        width: 10rem;
        border-radius: 20%;
        margin-left: 18rem;
        margin-top: -4.5rem;
        transition: 1s;
        position: absolute;
    }
   
}




@media screen and (min-width: 600px) {

    .navbar {
        box-shadow: 1px 1px 10px 1px aqua;
        height: 5rem;
    }

    .navbar .box2 {
        color: aqua;
        margin-left: 13rem;
        margin-top: -4.5rem;
        font-size: 12pt;
    }
    .navbar .box1 img:hover {
        background-color: aqua;
        border-radius: 20px;
        cursor: pointer;
    }

    .navbar .box1 img {
        width: 4rem;
        margin-left: 15px;
        margin-top: 10px;
    }
    .menu .menu-itens a {
        text-decoration: none;
        color: aqua;
        font-size: 40px;
        text-align: center;
        margin-top: 2rem;
        transition: 1s;
    }
    .menu .menu-itens a:hover {
        font-size: 50px;
        transition: 1s;
    }
    .menu .menu-itens img {
        width: 60px;
        margin-top: 4rem;
        margin-left: 4rem;
        border-radius: 40px;
        transition: 1s;
    }

    .menu .menu-itens img:hover {
        transform: translateY(-10px);
        transition: 1s;
    }


    .menu .menu-itens {
        background-color: rgba(2, 0, 19, 0.948);
        margin-top: 5.5rem;
        box-shadow: 1px 1px 10px 1px aqua;
        border-radius: 20px;
        margin-left: -20px;
        position: absolute;
        width: 20rem;
        z-index: 1;
        display: none;
    }

    .s1 {
        position: absolute;
        margin-left: 10rem;
    }

    .s1 .left {
        margin-top: 20rem;
    }

    .s1 .left .p1 {
        color: white;
        margin-top: -4.5rem;
        width: 15rem;
        margin-left: 3rem;
        font-size: 25pt;
        position: absolute;
        
    }

    .s1 .left h1 {
        position: absolute;
        color: aqua;
        width: 25rem;
        margin-top: -3rem;
        margin-left: -4rem;
        font-size: 32pt;
    }

    
    .s1 .left .p2 {
        position: absolute;
        color: white;
        width: 20rem;
        margin-top: -0.5rem;
        margin-left: 1.5rem;
        font-size: 14pt;
    }

    .s1 .right{
        margin-top:-20rem;
        margin-left: 4rem;
    }

    .s1 .right img {
        width: 12rem;
        border-radius: 40px;
        box-shadow: 1px 1px 10px 1px aqua;
        position: absolute;
        margin-top: 3rem;
        margin-left: -1.3rem;
    }


    .s1 .boxes #a1 {
        margin-top: 3rem;
        position: absolute;
        margin-left: -5rem;
        font-size: 20px;
        width: 10rem;
        height: 2.5rem;
        padding-top: -10px;
        padding-left: 20px;
        border-radius: 20px;
        color: black;
        border: 1px solid white;
        transition: 1s;
        color: aqua;
    }

    .s1 .boxes #a2 {
        margin-top: 3rem;
        position: absolute;
        margin-left: 10rem;
        font-size: 25px;
        width: 10rem;
        height: 2.5rem;
        padding-top: 10px;
        padding-left: 20px;
        border-radius: 20px;
        color: black;
        background-color: aqua;
        transition: 1s;
    }

    .s1 .boxes a {
        text-decoration: none;
        display: flex;
        margin-left: 6rem;
    }

    .s1 .boxes a:hover {transform: translateY(-10px); transition: 1s;}

    .sobre {
        margin-top: 50rem;
        text-align: center;
    }

    .sobre h1 {
        color: aqua;
        font-size: 40px;
    }

    .sobre p {
        color: white;
        font-size: 20px;
        text-align: center;

    }
    .sobre .box1:hover, .box2:hover, .box3:hover {
        transform: translateY(-10px);
        transition: 1s;
        cursor: pointer;
    }
    .sobre .box1 img {
        width: 10rem;
    }

    .sobre .box1 {
        background-color: black;
        transition: 1s;
        width: 10rem;
        margin-left: 13rem;
        border-radius: 20px 20px 0px 0px;
        border-bottom: 2px solid aqua;
        position: absolute;
        margin-top: 14rem;

    }

    .sobre .box2 img {
        width: 10rem;
    }

    .sobre .box2 {
        background-color: black;
        transition: 1s;
        width: 10rem;
        border-radius: 20px 20px 0px 0px;
        border-bottom: 2px solid aqua;
        margin-top: 2rem;
        margin-left: 13rem;
    }

    .sobre .box3 img {
        width: 10rem;
    }

    .sobre .box3 {
        background-color: black;
        transition: 1s;
        width: 10rem;
        margin-left: 5px;
        border-radius: 20px 20px 0px 0px;
        border-bottom: 2px solid aqua;
        margin-top: 15.5rem;
        margin-left: 13rem;
    }

    .projetos {
        margin-top: 20rem;
    margin-bottom: 10rem;

    }

    .projetos h1 {
        color: aqua;
        text-align: center;
        font-size: 40px;
    }

    .projetos .box1 img {
        width: 10rem;
        border-radius: 20%;
        transition: 1s;
        margin-left: 7rem;

    }

    .projetos .box1 img:hover {
        transform: translateY(-10px);
        transition: 1s;
    }

    
    .projetos .box2 img {
        width: 10rem;
        border-radius: 20%;
        margin-left: 20rem;
        margin-top: -4.5rem;
        transition: 1s;
        position: absolute;
    }
   
}



@media screen and (min-width: 768px) {

    .navbar {
        box-shadow: 1px 1px 10px 1px aqua;
        height: 5rem;
    }

    .navbar .box2 {
        color: aqua;
        margin-left: 17rem;
        margin-top: -5.5rem;
        font-size: 15pt;
    }
    .navbar .box1 img:hover {
        background-color: aqua;
        border-radius: 20px;
        cursor: pointer;
    }

    .navbar .box1 img {
        width: 4rem;
        margin-left: 15px;
        margin-top: 10px;
    }
    .menu .menu-itens a {
        text-decoration: none;
        color: aqua;
        font-size: 40px;
        text-align: center;
        margin-top: 2rem;
        transition: 1s;
    }
    .menu .menu-itens a:hover {
        font-size: 50px;
        transition: 1s;
    }
    .menu .menu-itens img {
        width: 60px;
        margin-top: 4rem;
        margin-left: 4rem;
        border-radius: 40px;
        transition: 1s;
    }

    .menu .menu-itens img:hover {
        transform: translateY(-10px);
        transition: 1s;
    }


    .menu .menu-itens {
        background-color: rgba(2, 0, 19, 0.948);
        margin-top: 5.5rem;
        box-shadow: 1px 1px 10px 1px aqua;
        border-radius: 20px;
        margin-left: -20px;
        position: absolute;
        width: 20rem;
        z-index: 1;
        display: none;
    }

    .s1 {
        position: absolute;
        margin-left: 15rem;
    }

    .s1 .left {
        margin-top: 25rem;
    }

    .s1 .left .p1 {
        color: white;
        margin-top: -4.5rem;
        width: 15rem;
        margin-left: 3rem;
        font-size: 25pt;
        position: absolute;
        
    }

    .s1 .left h1 {
        position: absolute;
        color: aqua;
        width: 28rem;
        margin-top: -3rem;
        margin-left: -4rem;
        font-size: 35pt;
    }

    
    .s1 .left .p2 {
        position: absolute;
        color: white;
        width: 20rem;
        margin-top: 0.5rem;
        margin-left: 1.5rem;
        font-size: 14pt;
    }

    .s1 .right{
        margin-top:-20rem;
        margin-left: 4rem;
    }

    .s1 .right img {
        width: 12rem;
        border-radius: 40px;
        box-shadow: 1px 1px 10px 1px aqua;
        position: absolute;
        margin-top: 3rem;
        margin-left: -1.3rem;
    }


    .s1 .boxes #a1 {
        margin-top: 3rem;
        position: absolute;
        margin-left: -5rem;
        font-size: 20px;
        width: 10rem;
        height: 2.5rem;
        padding-top: -10px;
        padding-left: 20px;
        border-radius: 20px;
        color: black;
        border: 1px solid white;
        transition: 1s;
        color: aqua;
    }

    .s1 .boxes #a2 {
        margin-top: 3rem;
        position: absolute;
        margin-left: 10rem;
        font-size: 25px;
        width: 10rem;
        height: 2.5rem;
        padding-top: 10px;
        padding-left: 20px;
        border-radius: 20px;
        color: black;
        background-color: aqua;
        transition: 1s;
    }

    .s1 .boxes a {
        text-decoration: none;
        display: flex;
        margin-left: 6rem;
    }

    .s1 .boxes a:hover {transform: translateY(-10px); transition: 1s;}

    .sobre {
        margin-top: 50rem;
        text-align: center;
    }

    .sobre h1 {
        color: aqua;
        font-size: 40px;
    }

    .sobre p {
        color: white;
        font-size: 20px;
        text-align: center;
        width: 30rem;
        margin-left: 8rem;

    }
    .sobre .box1:hover, .box2:hover, .box3:hover {
        transform: translateY(-10px);
        transition: 1s;
        cursor: pointer;
    }
    .sobre .box1 img {
        width: 10rem;
    }

    .sobre .box1 {
        background-color: black;
        transition: 1s;
        width: 10rem;
        margin-left: 19rem;
        border-radius: 20px 20px 0px 0px;
        border-bottom: 2px solid aqua;
        position: absolute;
        margin-top: 14rem;

    }

    .sobre .box2 img {
        width: 10rem;
    }

    .sobre .box2 {
        background-color: black;
        transition: 1s;
        width: 10rem;
        border-radius: 20px 20px 0px 0px;
        border-bottom: 2px solid aqua;
        margin-top: 2rem;
        margin-left: 19rem;
    }

    .sobre .box3 img {
        width: 10rem;
    }

    .sobre .box3 {
        background-color: black;
        transition: 1s;
        width: 10rem;
        margin-left: 5px;
        border-radius: 20px 20px 0px 0px;
        border-bottom: 2px solid aqua;
        margin-top: 15.5rem;
        margin-left: 19rem;
    }

    .projetos {
        margin-top: 20rem;
    margin-bottom: 10rem;
    }

    .projetos h1 {
        color: aqua;
        text-align: center;
        font-size: 40px;
        margin-bottom: 8rem;
    }

    .projetos .box1 img {
        width: 15rem;
        border-radius: 20%;
        transition: 1s;
        margin-left: 7rem;

    }

    .projetos .box1 img:hover {
        transform: translateY(-10px);
        transition: 1s;
    }

    
    .projetos .box2 img {
        width: 15rem;
        border-radius: 20%;
        margin-left: 25rem;
        margin-top: -7rem;
        transition: 1s;
        position: absolute;
    }
   
}

@media screen and (min-width: 992px) {

    .navbar {
        box-shadow: 1px 1px 10px 1px aqua;
        height: 5rem;
    }

    .navbar .box2 {
        color: aqua;
        margin-left: 23.5rem;
        margin-top: -5.5rem;
        font-size: 15pt;
    }
    .navbar .box1 img:hover {
        background-color: aqua;
        border-radius: 20px;
        cursor: pointer;
    }

    .navbar .box1 img {
        width: 4rem;
        margin-left: 15px;
        margin-top: 10px;
    }
    .menu .menu-itens a {
        text-decoration: none;
        color: aqua;
        font-size: 40px;
        text-align: center;
        margin-top: 2rem;
        transition: 1s;
    }
    .menu .menu-itens a:hover {
        font-size: 50px;
        transition: 1s;
    }
    .menu .menu-itens img {
        width: 60px;
        margin-top: 4rem;
        margin-left: 4rem;
        border-radius: 40px;
        transition: 1s;
    }

    .menu .menu-itens img:hover {
        transform: translateY(-10px);
        transition: 1s;
    }


    .menu .menu-itens {
        background-color: rgba(2, 0, 19, 0.948);
        margin-top: 5.5rem;
        box-shadow: 1px 1px 10px 1px aqua;
        border-radius: 20px;
        margin-left: -20px;
        position: absolute;
        width: 20rem;
        z-index: 1;
        display: none;
    }

    .s1 {
        position: absolute;
        margin-left: 22rem;
    }

    .s1 .left {
        margin-top: 22rem;
        margin-left: 0.2rem;
    }

    .s1 .left .p1 {
        color: white;
        margin-top: -4.5rem;
        width: 15rem;
        margin-left: 3rem;
        font-size: 25pt;
        position: absolute;
        
    }

    .s1 .left h1 {
        position: absolute;
        color: aqua;
        width: 28rem;
        margin-top: -3rem;
        margin-left: -4rem;
        font-size: 35pt;
    }

    
    .s1 .left .p2 {
        position: absolute;
        color: white;
        width: 20rem;
        margin-top: 0.5rem;
        margin-left: 1.5rem;
        font-size: 14pt;
    }

    .s1 .right{
        margin-top:-20rem;
        margin-left: 4rem;
    }

    .s1 .right img {
        width: 12rem;
        border-radius: 40px;
        box-shadow: 1px 1px 10px 1px aqua;
        position: absolute;
        margin-top: 3rem;
        margin-left: -1.3rem;
    }


    .s1 .boxes #a1 {
        margin-top: 3rem;
        position: absolute;
        margin-left: -5rem;
        font-size: 20px;
        width: 10rem;
        height: 2.5rem;
        padding-top: -10px;
        padding-left: 20px;
        border-radius: 20px;
        color: black;
        border: 1px solid white;
        transition: 1s;
        color: aqua;
    }

    .s1 .boxes #a2 {
        margin-top: 3rem;
        position: absolute;
        margin-left: 10rem;
        font-size: 25px;
        width: 10rem;
        height: 2.5rem;
        padding-top: 10px;
        padding-left: 20px;
        border-radius: 20px;
        color: black;
        background-color: aqua;
        transition: 1s;
    }

    .s1 .boxes a {
        text-decoration: none;
        display: flex;
        margin-left: 6rem;
    }

    .s1 .boxes a:hover {transform: translateY(-10px); transition: 1s;}

    .sobre {
        margin-top: 50rem;
        text-align: center;
    }

    .sobre h1 {
        color: aqua;
        font-size: 40px;
    }

    .sobre p {
        color: white;
        font-size: 20px;
        text-align: center;
        width: 30rem;
        margin-left: 15rem;

    }
    .sobre .box1:hover, .box2:hover, .box3:hover {
        transform: translateY(-10px);
        transition: 1s;
        cursor: pointer;
    }
    .sobre .box1 img {
        width: 10rem;
    }

    .sobre .box1 {
        background-color: black;
        transition: 1s;
        width: 10rem;
        margin-left: 25rem;
        border-radius: 20px 20px 0px 0px;
        border-bottom: 2px solid aqua;
        position: absolute;
        margin-top: 14rem;

    }

    .sobre .box2 img {
        width: 10rem;
    }

    .sobre .box2 {
        background-color: black;
        transition: 1s;
        width: 10rem;
        border-radius: 20px 20px 0px 0px;
        border-bottom: 2px solid aqua;
        margin-top: 2rem;
        margin-left: 25rem;
    }

    .sobre .box3 img {
        width: 10rem;
    }

    .sobre .box3 {
        background-color: black;
        transition: 1s;
        width: 10rem;
        margin-left: 5px;
        border-radius: 20px 20px 0px 0px;
        border-bottom: 2px solid aqua;
        margin-top: 15.5rem;
        margin-left: 25rem;
    }

    .projetos {
        margin-top: 20rem;
    margin-bottom: 10rem;
    }

    .projetos h1 {
        color: aqua;
        text-align: center;
        font-size: 40px;
        margin-bottom: 8rem;
    }

    .projetos .box1 img {
        width: 15rem;
        border-radius: 20%;
        transition: 1s;
        margin-left: 7rem;

    }

    .projetos .box1 img:hover {
        transform: translateY(-10px);
        transition: 1s;
    }

    
    .projetos .box2 img {
        width: 15rem;
        border-radius: 20%;
        margin-left: 40rem;
        margin-top: -7rem;
        transition: 1s;
        position: absolute;
    }
   
}


@media screen and (min-width: 1280px) {

    .navbar {
        box-shadow: 1px 1px 10px 1px aqua;
        height: 5rem;
    }

    .navbar .box2 {
        color: aqua;
        margin-left: 33rem;
        margin-top: -5.5rem;
        font-size: 15pt;
    }
    .navbar .box1 img:hover {
        background-color: aqua;
        border-radius: 20px;
        cursor: pointer;
    }

    .navbar .box1 img {
        width: 4rem;
        margin-left: 15px;
        margin-top: 10px;
    }
    .menu .menu-itens a {
        text-decoration: none;
        color: aqua;
        font-size: 40px;
        text-align: center;
        margin-top: 2rem;
        transition: 1s;
    }
    .menu .menu-itens a:hover {
        font-size: 50px;
        transition: 1s;
    }
    .menu .menu-itens img {
        width: 60px;
        margin-top: 4rem;
        margin-left: 4rem;
        border-radius: 40px;
        transition: 1s;
    }

    .menu .menu-itens img:hover {
        transform: translateY(-10px);
        transition: 1s;
    }


    .menu .menu-itens {
        background-color: rgba(2, 0, 19, 0.948);
        margin-top: 5.5rem;
        box-shadow: 1px 1px 10px 1px aqua;
        border-radius: 20px;
        margin-left: -20px;
        position: absolute;
        width: 20rem;
        z-index: 1;
        display: none;
    }

    .s1 {
        position: absolute;
        margin-left: 32rem;
    }

    .s1 .left {
        margin-top: 19rem;
        margin-left: 0.2rem;
    }

    .s1 .left .p1 {
        color: white;
        margin-top: 5rem;
        width: 15rem;
        margin-left: 1rem;
        font-size: 30pt;
        position: absolute;
        
    }

    .s1 .left h1 {
        position: absolute;
        color: aqua;
        width: 40rem;
        margin-top: 7rem;
        margin-left: -10rem;
        font-size: 50pt;
    }

    
    .s1 .left .p2 {
        position: absolute;
        color: white;
        width: 20rem;
        margin-top: 12rem;
        margin-left: -1.5rem;
        font-size: 18pt;
    }

    .s1 .right{
        margin-top:-20rem;
        margin-left: 4rem;
    }

    .s1 .right img {
        width: 20rem;
        border-radius: 40px;
        box-shadow: 1px 1px 10px 1px aqua;
        position: absolute;
        margin-top: 3rem;
        margin-left: -5.5rem;
    }


    .s1 .boxes #a1 {
        margin-top: 15rem;
        position: absolute;
        margin-left: -5rem;
        font-size: 20px;
        width: 10rem;
        height: 2.5rem;
        padding-top: -10px;
        padding-left: 20px;
        border-radius: 20px;
        color: black;
        border: 1px solid white;
        transition: 1s;
        color: aqua;
    }

    .s1 .boxes #a2 {
        margin-top: 15.2rem;
        position: absolute;
        margin-left: 10rem;
        font-size: 25px;
        width: 10rem;
        height: 2.5rem;
        padding-top: 10px;
        padding-left: 20px;
        border-radius: 20px;
        color: black;
        background-color: aqua;
        transition: 1s;
    }

    .s1 .boxes a {
        text-decoration: none;
        display: flex;
        margin-left: 6rem;
    }

    .s1 .boxes a:hover {transform: translateY(-10px); transition: 1s;}

    .sobre {
        margin-top: 70rem;
        text-align: center;
    }

    .sobre h1 {
        color: aqua;
        font-size: 40px;
        margin-left: -40rem;
    }

    .sobre p {
        color: white;
        font-size: 20px;
        text-align: center;
        width: 35rem;
        margin-left: 1rem;

    }
    .sobre .box1:hover, .box2:hover, .box3:hover {
        transform: translateY(-10px);
        transition: 1s;
        cursor: pointer;
    }
    .sobre .box1 img {
        width: 10rem;
    }

    .sobre .box1 {
        background-color: black;
        transition: 1s;
        width: 10rem;
       
        border-radius: 20px 20px 0px 0px;
        border-bottom: 2px solid aqua;
        position: absolute;
        margin-top: -10rem;
        margin-left: 40rem;

    }

    .sobre .box2 img {
        width: 10rem;
    }

    .sobre .box2 {
        background-color: black;
        transition: 1s;
        width: 10rem;
        border-radius: 20px 20px 0px 0px;
        border-bottom: 2px solid aqua;
        margin-top: -10rem;
        margin-left: 52.5rem;
    }

    .sobre .box3 img {
        width: 10rem;
    }

    .sobre .box3 {
        background-color: black;
        transition: 1s;
        width: 10rem;
        margin-left: 5px;
        border-radius: 20px 20px 0px 0px;
        border-bottom: 2px solid aqua;
        margin-top: -10.3rem;
        margin-left: 65rem;
    }

    .projetos {
        margin-top: 32rem;
    margin-bottom: 10rem;
    }

    .projetos h1 {
        color: aqua;
        text-align: center;
        font-size: 40px;
        margin-bottom: 8rem;
    }

    .projetos .box1 img {
        width: 20rem;
        border-radius: 20%;
        transition: 1s;
        margin-left: 15rem;

    }

    .projetos .box1 img:hover {
        transform: translateY(-10px);
        transition: 1s;
    }

    
    .projetos .box2 img {
        width: 20rem;
        border-radius: 20%;
        margin-left: 45rem;
        margin-top: -9rem;
        transition: 1s;
        position: absolute;
    }
   
}



@media screen and (min-width: 1500px) {

    .navbar {
        box-shadow: 1px 1px 10px 1px aqua;
        height: 5rem;
    }

    .navbar .box2 {
        color: aqua;
        margin-left: 40rem;
        margin-top: -5.5rem;
        font-size: 15pt;
    }
    .navbar .box1 img:hover {
        background-color: aqua;
        border-radius: 20px;
        cursor: pointer;
    }

    .navbar .box1 img {
        width: 4rem;
        margin-left: 15px;
        margin-top: 10px;
    }
    .menu .menu-itens a {
        text-decoration: none;
        color: aqua;
        font-size: 40px;
        text-align: center;
        margin-top: 2rem;
        transition: 1s;
    }
    .menu .menu-itens a:hover {
        font-size: 50px;
        transition: 1s;
    }
    .menu .menu-itens img {
        width: 60px;
        margin-top: 4rem;
        margin-left: 4rem;
        border-radius: 40px;
        transition: 1s;
    }

    .menu .menu-itens img:hover {
        transform: translateY(-10px);
        transition: 1s;
    }


    .menu .menu-itens {
        background-color: rgba(2, 0, 19, 0.948);
        margin-top: 15rem;
        box-shadow: 1px 1px 10px 1px aqua;
        border-radius: 20px;
        margin-left: -20px;
        position: absolute;
        width: 20rem;
        z-index: 1;
        display: none;
    }

    .s1 {
        position: absolute;
        margin-left: 38rem;
    }

    .s1 .left {
        margin-top: 19rem;
        margin-left: 0.2rem;
    }

    .s1 .left .p1 {
        color: white;
        margin-top: 5rem;
        width: 15rem;
        margin-left: 1rem;
        font-size: 30pt;
        position: absolute;
        
    }

    .s1 .left h1 {
        position: absolute;
        color: aqua;
        width: 40rem;
        margin-top: 7rem;
        margin-left: -10rem;
        font-size: 50pt;
    }

    
    .s1 .left .p2 {
        position: absolute;
        color: white;
        width: 20rem;
        margin-top: 12rem;
        margin-left: -1.5rem;
        font-size: 18pt;
    }

    .s1 .right{
        margin-top:-20rem;
        margin-left: 4rem;
    }

    .s1 .right img {
        width: 20rem;
        border-radius: 40px;
        box-shadow: 1px 1px 10px 1px aqua;
        position: absolute;
        margin-top: 3rem;
        margin-left: -5.5rem;
    }


    .s1 .boxes #a1 {
        margin-top: 15rem;
        position: absolute;
        margin-left: -5rem;
        font-size: 20px;
        width: 10rem;
        height: 2.5rem;
        padding-top: -10px;
        padding-left: 20px;
        border-radius: 20px;
        color: black;
        border: 1px solid white;
        transition: 1s;
        color: aqua;
    }

    .s1 .boxes #a2 {
        margin-top: 15.2rem;
        position: absolute;
        margin-left: 10rem;
        font-size: 25px;
        width: 10rem;
        height: 2.5rem;
        padding-top: 10px;
        padding-left: 20px;
        border-radius: 20px;
        color: black;
        background-color: aqua;
        transition: 1s;
    }

    .s1 .boxes a {
        text-decoration: none;
        display: flex;
        margin-left: 6rem;
    }

    .s1 .boxes a:hover {transform: translateY(-10px); transition: 1s;}

    .sobre {
        margin-top: 70rem;
        text-align: center;
        margin-left: 10rem;
    }

    .sobre h1 {
        color: aqua;
        font-size: 40px;
        margin-left: -48rem;
    }

    .sobre p {
        color: white;
        font-size: 20px;
        text-align: center;
        width: 35rem;
        margin-left: 1rem;

    }
    .sobre .box1:hover, .box2:hover, .box3:hover {
        transform: translateY(-10px);
        transition: 1s;
        cursor: pointer;
    }
    .sobre .box1 img {
        width: 10rem;
    }

    .sobre .box1 {
        background-color: black;
        transition: 1s;
        width: 10rem;
       
        border-radius: 20px 20px 0px 0px;
        border-bottom: 2px solid aqua;
        position: absolute;
        margin-top: -10rem;
        margin-left: 40rem;

    }

    .sobre .box2 img {
        width: 10rem;
    }

    .sobre .box2 {
        background-color: black;
        transition: 1s;
        width: 10rem;
        border-radius: 20px 20px 0px 0px;
        border-bottom: 2px solid aqua;
        margin-top: -10rem;
        margin-left: 52.5rem;
    }

    .sobre .box3 img {
        width: 10rem;
    }

    .sobre .box3 {
        background-color: black;
        transition: 1s;
        width: 10rem;
        margin-left: 5px;
        border-radius: 20px 20px 0px 0px;
        border-bottom: 2px solid aqua;
        margin-top: -10.3rem;
        margin-left: 65rem;
    }

    .projetos {
        margin-top: 32rem;
    margin-bottom: 10rem;
    }

    .projetos h1 {
        color: aqua;
        text-align: center;
        font-size: 40px;
        margin-bottom: 8rem;
    }

    .projetos .box1 img {
        width: 20rem;
        border-radius: 20%;
        transition: 1s;
        margin-left: 25rem;

    }

    .projetos .box1 img:hover {
        transform: translateY(-10px);
        transition: 1s;
    }

    
    .projetos .box2 img {
        width: 20rem;
        border-radius: 20%;
        margin-left: 55rem;
        margin-top: -9rem;
        transition: 1s;
        position: absolute;
    }
   
}
